/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Green): #ffffff;
Tertiary Color (Grey): #CBC7CA
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #DFDDDB;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  width: 100%;
  padding: 15px 0 8px;
  /*top padding 15px, left&right=0, bottom=0*/
  /*
  text-align: center;
  padding-top: 15px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  top: 0rem;
  z-index: 100;
  padding: 12px 0;
  margin: 10px;*/
  /*border-bottom: 3px solid #4a4a4a;*/
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding-top: 24px;
  background-color: #dddedf;
  width: 100%;
  /*box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.45);*/
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.5);
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 28px;
  padding-right: 0;
  padding-top: 4px
}

/*nav {
  display: inline-block;
  width: 100%;
}*/
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 12px;
  text-transform: uppercase;
  font-family: 'Playfair+Display', serif;
  font-size: 1.25em;
  color: #000000;
  text-decoration: none;
}

nav>ul>li>a:hover {
  text-decoration: underline;
  font-weight: 700;
}

#hero {
  text-align: center;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}

main {
  /*padding-top: 134px;*/
  padding-top: 56px;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

footer {
  text-align: center;
  background-color: #dddedf;
  padding: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Playfair+Display', serif;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 0.75em;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.workimage:hover {
  transform: scale(1.2);
}

.readmorebutton {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 12px 32px;
  border-radius: 32px;
  /* border-bottom: 2px solid #994c30; /* width of the border, type, color */
  text-decoration: none;
  border: 2px solid black;
  transition: 0.3s opacity;
}

#tripwalletproject .readmorebutton {
  display: inline-block;
  margin: 15px;
  width: 255px;
}

.readmorebutton:hover {
  opacity: 0.2;
}

.comingsoon {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffffff;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 12px 32px;
  border-radius: 32px;
  font-style: italic;
  /*border-bottom: 2px solid #994c30; /* width of the border, type, color */
  text-decoration: none;
  border: 2px solid black;
}

.disabled {
  pointer-events: none;
}

.linkedinbutton {
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s opacity;
}

.emailbutton {
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s opacity;
}

.linkedinbutton:hover {
  opacity: 0.2;
}

.emailbutton:hover {
  opacity: 0.2;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#work .row {
  border-bottom: 1px solid #4a4a4a;
  padding: 30px 0;
  /*padding-bottom: 15px;
  margin: 15px;
  text-align: center;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.lastrow {
  padding: 30px 0;
  /* 25px top and bottom, 0 left and right */
}

.lastrow::after {
  content: "";
  clear: both;
  display: table;
}

.workpic {
  /*padding-right: 30px;
  margin-right:60px;*/
  text-align: center;
}

#about h1 {
  padding-top: 30px;
}

#about h2 {
  padding-top: 10px;
}

/*.workdescription {
  padding-right: 15px;
}*/
#tripwalletproject .projecthero {
  background-color: #6a94ac;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 15px;
  color: #ffffff;
}

#tripwalletproject .maincontent {
  /*background-color: #eff4f7;*/
}

#tripwalletproject .container {
  padding: 30px 15px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  logo {
    max-width: 250px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -8px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 72px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  #work h3 {
    margin: 0;
    padding: 0;
  }

  #about h2 {
    margin: 0;
    padding: 0;
  }

  #about h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #about .row {
    padding: 30px 0;
  }

  .skills {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================

Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/*Below is the exercise for animation
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}*/
